/JavaTutorials/.idea/
/JavaTutorials/target/
/JavaTutorials/JavaTutorials.iml
/JavaTutorials/src/main/resources

/SeleniumTutorial/.idea/
/SeleniumTutorial/SeleniumTutorial.iml
/SeleniumTutorial/target
/SeleniumTutorial/target/*

/automationframework/.idea/
/automationframework/automationframework.iml
/automationframework/target
/automationframework/target/*
/automationframework/src/main/resources/driver/phantomjs-64bitphantomjs-64bit
/automationframework/src/main/resources/driver/phantomjs-64bitphantomjs-64bit/*





